{{define "title"}}About{{end}}
{{define "head"}}{{end}}
{{define "content"}}
<div class="container">
	<div class="page-header">
		<h1>{{template "title" .}}</h1>
	</div>
	<p>Contact us at contact@lendingcastle.com or call us 833-880-LOAN.</p>

	{{template "footer" .}}
</div>
{{end}}
{{define "foot"}}{{end}}
